body {
	font-family: 'Arial', sans-serif;
	max-width: 600px;
	text-align: center;
	background-image: url(../image/bakachin_face.png);
	background-color: rgba(255, 255, 255, 0.9);
	background-blend-mode: lighten;
	font-weight: bold;
	margin: auto;
}

h1 {
	font-family: "Nico Moji";
	font-size: 60px;
	margin: 30px;
	text-shadow: 1px 1px 0 #fff, 2px 2px 0 #000;
}

h1 span {
	color: red;
}

h2 {
	margin-top: 20px;
}

#name {
	color: #000000;
	font-family: "Nico Moji";
	font-size: 30px;
	text-shadow: 1px 1px 0 #fff, 2px 2px 0 #000;
}

#uname {
	width: 270px;
	height: 25px;
	color: #000000;
	font-size: 25px;
	text-shadow: 1px 1px 0 #fff, 1px 1px 0 #000;
	border: 4px solid;
	border-radius: 5px;
	background-color: lightyellow;
}

#image {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#text {
	color: #000000;
	width: 590px;
	font-size: 25px;
	text-shadow: 1px 1px 0 #fff, 1px 1px 0 #000;
	border: 4px solid;
	border-radius: 5px;
	background-color: lightyellow;
}

#send {
	background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
	background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
	overflow: hidden;
	border-radius: 13px;
	color: white;
	border: 5px solid;
	padding: 8px 16px;
	font-family: "Nico Moji";
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 0 black, 1px 1px 0 #000;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
#send:hover {
	color: red;
	transition: .4s;
}

#output {
	background-color: lavenderblush;
	font-family: "Nico Moji";
	font-size: 30px;
	border: solid black;
	border-radius: 5px;
}

/* 共通フォントと基本スタイリング */
body,
input,
button {
	font-family: 'Arial', sans-serif;
	color: #333;
}

/* フォームのコンテナ */
#login-container {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 20px;
	max-width: 400px;
	margin: 50px auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* セクションヘッダー */
#login-container h2 {
	color: #444;
	margin-bottom: 10px;
	font-size: 24px;
	text-align: center;
}

/* 入力フィールド */
input[type=email],
input[type=password] {
	width: 90%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* ボタンスタイル */
button {
	width: 30%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #5c6bc0;
	color: white;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 10px;
}

button:hover {
	background-color: #3f51b5;
}

#logout-but {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 50px;
}

スクリーンサイズによるレイアウト調整
@media screen and (max-width: 600px) {
	#login-container {
		width: 90%;
		margin: 20px auto;
	}
}